<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Category Information
                        </h4>
                        <form asp-action="Add" asp-controller="Category" method="post">
                            <div class="mb-3 mt-5">
                                <label for="categoryName" class="form-label">Category Name</label>
                                <input type="text" class="form-control" name="categoryName">
                            </div>
                      
                            <button type="submit" class="btn btn-primary">ADD CATEGORY</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
</div>
<!-- main-panel ends -->
  </div>